<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.seb.chess.ui.ChessView"
            id="com.seb.chess.ui.view"
            name="Chess view"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.seb.chess.ui.Perspective"
            icon="icons/cavalier_blanc.gif"
            id="com.seb.chess.ui.perspective"
            name="Chess"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.seb.chess.ui.ChessEditor"
            contributorClass="com.seb.chess.ui.ChessEditorContributor"
            default="false"
            extensions="pgn"
            icon="icons/editor_icon.gif"
            id="com.seb.chess.ui.editors.pgn"
            name="Chess Editor"
            symbolicFontName="org.eclipse.jface.textfont"> 
      </editor> 
   </extension>

</plugin>
